@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');

* {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    

}

.main-container {
    background-image:linear-gradient(to left, rgb(83, 81, 81), rgb(195, 182, 182));
    
    
}

.img-section {
    padding-top: 40px;
    display: flex;

    justify-content: center;
    opacity: 0.8;
    transition: 1s ease;
}

.img-section :hover {
    opacity: 1;
    transition: 1s ease;
}

img {
    border-radius: 50%;
    /* padding-top: 20%; */
    width: 250px;
    height: 250px;
    cursor: pointer;

    opacity: 0.5;
    transition: 1s ease;

}

img :hover {
    opacity: 1;
    transition: 1s ease;
}


.hero-section {
    padding-top: 40px;
    font-size: 4em;
    color: #F3CF14;
    display: flex;
    justify-content: center;

}

.sub-head {
    font-size: 1.5em;
    display: flex;
    color: #646262;
    justify-content: center;
}

.icon-list a {


    font-size: 1em;
    display: flex;
    color: rgb(223, 223, 230);
    justify-content: center;
    align-items: center;
    /* padding: auto; */
    font-size: 1.5em;
    text-decoration: none;

    font-family: 'Open Sans', sans-serif;
    color: antiquewhite;

}

.icon-list {
    padding-left: 650px;
    padding-top: 40px;
    border: 2px thick #F3CF14;
    font-family: 'Open Sans', sans-serif;
    list-style: none;

}

.icon-list i {
    /* font-family: 'Open Sans', sans-serif; */
    align-items: center;
    padding: 10px;
}

.icon-list li {
    padding: 10px;
    font-family: 'Open Sans', sans-serif;
    
    border: 2px thick #F3CF14;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    background: transparent;
    padding: 20px;
    font-family: 'Open Sans', sans-serif;
    width: 200px;
    font-size: 1em;

}
/* li :hover{
    transform: translateY(-8px);
    transition: calc(.5s);
    opacity: .8;
    color: #F3CF14;
    background-color: antiquewhite;
} */

.fa {

    align-items: center;
    padding: auto;
    color: #F3CF14;
    font-size: 1em;
    text-decoration: none;
}
.fa-linkedin{
    color: rgb(39, 107, 175);
}
.fa-paperclip{
    color: rgb(24, 26, 28);
}
.fa-github{
    color: rgb(84, 34, 190);
}
.fa-twitter{
    color: rgb(84, 156, 228);
}
.fa-instagram{
    color: rgb(236, 103, 191);
}


button{
    color: #F3CF14;
    border-radius: 25px;
    background: transparent;
    border:2px solid #F3CF14;
    width: 340px;
   

}
button :hover{
    transform: translateY(-8px);
    transition: calc(.5s);
    opacity: .8;
    color: #F3CF14;
    background-color: antiquewhite;
}
.contact-form p {
    display: flex;
    justify-content: center;
    font-size: 50px;
    padding-top: 140px;
    padding-bottom: 30px;
    color: #F3CF14;
}




.footer {
    color: #000;
    font-size: .9em;
    display: flex;
    justify-content: center;
    padding-top: 100px;

}
