@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap');


/* applies to all divs */
*{
    margin: 0%;
    padding: 0%;
    max-width:100%;
    font-family: 'Roboto', sans-serif;
    /* box-sizing: border-box; */
}
 /* main container */
.container{
    background-image: linear-gradient(to left,rgb(37, 26, 137),rgb(73, 54, 57),rgb(171, 37, 93));
    width: 100%;
    height: 100%;
    /* display: flex;
  flex-wrap: wrap; */
}

/* heading div */
.heading->h1{
    margin-left: 700px;
    font-size: 3em;
    color: #f8f8ff;
   

}
.heading{
    margin-left: 650px;
    /* font-size: 1em; */
    color: #f8f8ff;
}

/* image div */
img{
    border-radius: 50%;
    width: 260px;
    height: 240px;
    margin-left: 40%;
    margin-top: 40px;
    
}
/* links container */
.links{
    color: #f8f8ff;
    font-size: 30px;
    /* font-family: 'Roboto', sans-serif; */
    text-decoration: none;
    display: flex;
    justify-content:center;
    align-items: center;
    padding: 50px;
    position: relative;
    top: 0;
    transition: top ease 0.5s;
    list-style: none;
    text-decoration: none;
    
}
.links :hover i{
    top: -10px;
    color: #0087ca;
}

.links a{
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    padding: 10px;
    color: #f8f8ff;

}
/* fonts div  */
.fa{
    color: #f8f8ff;
    font-size: 0.9em;
    text-decoration: none;
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    position: relative;
    top: 0;
    transition: top ease 0.5s;
   
}
.fa :hover{
    top: -10px;
    background-color: #0087ca;
   
}
.fa :hover{
    background-color: #0087ca;
}

.footer{
    color: #f8f8ff;
    margin-left: 45%;
    padding-bottom: 40px;
}
.links->a->li{
    list-style: none;
   
    
    
    margin-left: 20%;
    display:flex;
    justify-content: space-between;
    color: #f8f8ff;
    display: inline-block;
  position: relative;
}
  
  .link.a.li ::after{
    content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #0087ca;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}
.link.a.li :hover ::after{
    transform: scaleX(1);
  transform-origin: bottom left;
} 
